@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
*{margin:0; padding:0;}

body {
	width: 100%; height: 100%;
	position: relative;
	font-family: 'Gothic A1', sans-serif !important;
	padding-top: 125px;
}

#wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 300px;
}

.container {
    width: 1200px;
	min-height: 100vh;
    margin: 0 auto;
}

/* 헤더 */
header {
	position:fixed;
	top: 0;
  	left: 0;
  	right: 0;
    height: 125px;
    z-index: 9999;
}
header a.logo h1 {
    position:relative;
    letter-spacing:0px;
    text-transform:uppercase;
    width:278px;
	white-space:nowrap;
    padding:8px 11px 0px 26px;
    margin-bottom: 0px;
	float: left;
	margin-left: 40px;
	font-size: 35px; font-weight: bold;
}
#navi1 {
    background-color: white;
    height: 55px;
}

#navi1 a {
    line-height: 40px;
	font-weight: bold;
}

/* 메뉴바 드롭 */
#navi2{
	clear: both;
}
.menu {
    background-color: #002266;
}
#navi2 ul{
	list-style: none;
	padding-left: 0em;
	height: 70px;
	z-index: 8;
}
.menu a{text-decoration:none; color:#333;}
.menu:after{display:block; content:''; clear:both;}
.menu > li{position:relative; float:left; margin-right:5px; width: 130px; text-align: center; margin-left: 40px;}
.menu > li > a {
	display:block; height:70px; 
	line-height:70px; color:#fff; font-size: 17px; font-weight: bold;
}
.menu > li:hover .depth_1 {display:block;}
.menu .depth_1{display:none; position:absolute; left:0; right:0; text-align:center; z-index: 9;}
.menu .depth_1 a{display:block; padding:7px; background:#002266; color:#fff;}
.menu .depth_1 .child-li{display:block; padding:7px; background:#002266; color:#fff;}

/* footer */
footer {
	width: 100%;
	height: 300px;
	position: absolute;
	bottom: 0%;
	background-color: #002266;
}	

footer nav {
	margin: 0 0 20px 0;
	font-size: 13px;
	font-weight: 300;
	padding: 30px 0 0 24px;
	line-height: 2;
	letter-spacing: 0.3px;
}
footer nav p {
	color: #eee;
	font-size: 12px;
	text-align: left;
}
footer nav p:first-child {
	color: #ffc303;
	font-weight: bold;
	font-size: 30px;
}

/* 오른쪽 맨위 맨아래 화살표 */
.rightAside2 {
    position: fixed;
    right: 2%; bottom: 3%;
    background: darkgray;
    padding: 5px;
	z-index: 1;
}
.rightAside2 .rounded-circle .material-icons {
    font-size: 40px;
    line-height: 1.4;
    color: #0077cc;
}