@charset "EUC-KR";

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

/*Cart_empty css 시작*/
.empty_cart {
  background-color: #002266;
  padding: 100px 0;
}

.empty_cart h1{
  text-align: center;
  color: rgb(245, 158, 52);
  padding: 20px;
  font-weight: bold;
  font-size: 50px;
  background-color: #002266;
  margin-top: 180px;
}

.empty_bar {
  border: 1px solid #fff;
  font-size: 15px;
  color: #fff;
  padding: 15px 25px;
  text-align: center;
  margin: 50px 0 20px;
  display: inline-block;
}
/*Cart_empty css 끝*/