@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

#wrap {
    background: url('../images/main/mainBg.jpg') left top repeat;
    background-size: 20% 20%;
}

/* 섹션 */
.section {
    margin: 30px;
    position: relative;
    background-color: white;
}
.section:not(:first-of-type) {
    padding: 10px;
    border: 7px groove burlywood;   
}

/* 메인에 사용할 이미지 */
.mainImg {
    width: 100%; height: 700px;
}

/* 메인이미지 위에 글씨 */
.mainImgTitle {
    position: absolute;
    background: whitesmoke;
    top: 30px; left: 40px;
    padding: 10px;
    font-weight: bold;
}
/* 메인내용 */
.mainContent {
    display: flex;
    margin-top: 20px;
}
.mainContent1 {
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    width: 25%;
    margin-left: 20px;
}
.mainContent1 a {
    color: black;
}
.mainContent2 {
    margin-top: 70px;
}
.mainContent1 img {
    width: 100%;
}
.mainText {
    font-size: 13px;
}
.mainContent1 a {
	text-decoration: none;
}
.Best {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: orange;
    color: white;
    padding: 5px;
    font-size: 12px;
}

/* 아이콘 */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}

/* 오른쪽 메뉴바  1750이하일때 없어짐*/
@media screen and (min-width: 1750px) {
    .rightAside {
        position: fixed;
        right: 11%; top: 40%;
        background: lightgray;
        padding: 10px; 
    }
    
    /* 오른쪽 메뉴바 숫자 */
    .rightNumber {
        padding: 5px; margin: 5px;
        font-weight: bold;
        font-size: 14px; text-align: center;
        border: 1px solid gray;
    }
    .rightNumber a {
        text-decoration: none;
        color: black;
    }
    .rightNumber a:hover {
        color: red;  
    }
}