@charset "EUC-KR";
.shopping1 {
	/*border:1px solid black;*/
	width: 800px;
	height: 400px;
	margin-top:100px;
	margin-left:240px;
	text-align:center;
	margin-bottom:-100px;
}

.shopping1 > h1 {
	FONT-SIZE: 100pt;
	
}
.btn {
  width:300px;
  height:50px;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
 /* color: #fff;*/
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  color:#002266;
}
.btn span {
  position: relative; 
  z-index: 1;
  
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background:#ffc303;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
