@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

.titleArea {
    margin: 90px 0;
    font-size: 40px;
    text-align: center;
    color: #2b2b2b;
    border: none;
    position: relative;
    padding-bottom: 0;
}

.titleArea h2 {
    display: inline-block;
    color: #2b2b2b;
    font-size: 40px;
}

.headTitle {
    position: relative;
    height: 38px;
    margin: 0;
    padding: 0 0 0 9px;
    border: 1px solid #d7d5d5;
    border-bottom: 0;
    line-height: 38px;
    background: #f6f6f6;
}

.headTitle h3 {
    display: inline-block;
    text-align: middle;
    color: #353535;
    font-size: 15px;
}

.btnNormal {
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 8px;
    border: 1px solid #97a6c0;
    border-radius: 2px;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #083681;
    background-color: transparent;
}

.headTitle .button {
    position: absolute;
    right: 10px;
    top: 1px;
}

.gBorder table {
    border-top: 1px solid #E6E6EA;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

colgroup {
    display: table-column-group;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.gBorder thead th {
    padding: 11px 0 10px;
    border-left: none;
    border-bottom: 1px solid #d7d5d5;
    color: #353535;
   	text-align: center;
    font-weight: normal;
}

.gBorder .tableFoot {
    text-align: right;
}

tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
}

.gBorder td {
    padding: 11px 10px 10px;
    border-top: 1px solid #eee;
    color: #353535;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
}

.footLeft {
	float: left;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000;
}

.text1 {
	color: #000;
	margin-left: 10px;
}

td.firstLine img {
    max-width: 75px;
    text-align: center;
}

.secondLine .proName {
	color: black;
}

.proName {
    text-decoration: none;
    color: #000;
}

.option {
	font-size: 13px;
}

#productPrice {
	text-align: center;
}

.buttonBase {
	padding: 10px 0 50px;
    border-bottom: 1px solid #868686;
}

.buttonBase .buttonLeft {
	float: left;
    text-align: left;
    font-size: 13px;
}

.orderAreaTop .title {
	    margin-top: 30px;	    
}

.memOrderJsp .title {
	margin: 40px 0 10px 10px;
}

.buttonBase .baseText {
	margin: 0 6px 0 10px;
    color: #353535;
    line-height: 24px;
}

.btnEm {
	display: inline-block;
    box-sizing: border-box;
    padding: 2px 8px;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #083681;
    background-color: #ececec;
    cursor: pointer;
}

.buttonRight {
	float: right;
    text-align: right;
}

.title h3 {
    display: inline-block;
    vertical-align: middle;
    color: #353535;
    font-size: 12px;
    font-weight: bold;
}

.orderAreaTop .title .required {
    margin: -26px 0 0;
    color: #353535;
    text-align: right;
}

.orderImpormation table {
	position: relative;
    margin: 10px 0 0;
    border-top: 0;
    line-height: 1.5;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.orderImpormation th:first-child {
    border-left: 0;
}

.orderImpormation tbody th {
    padding: 11px 0 10px 18px;
    border: 1px solid #eee;
    border-bottom-width: 0;
    color: #353535;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}

.orderImpormation td {
    padding: 8px 10px 7px;
    border: 1px solid #eee;
    border-right: 0;
}

.orderImpormation #orderName {
	width: 180px;
}

input[type=text], input[type=password] {
    height: 20px;
    line-height: 20px;
    padding: 2px 4px;
    border: 1px solid #97a6c0;
    color: #353535;
    font-size: 12px;
    background: transparent;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.orderImpormation #orderPhone1 {
	width: 60px;
}

select {
    height: 20px;
    border: 1px solid #97a6c0;
    background: transparent;
}

.orderImpormation #orderPhone2 {
	width: 60px;
    margin: 0 4px;
}

.orderImpormation #orderPhone3 {
	width: 60px;
    margin: 0 4px;
}

div {
    display: block;
}

th, td {
    border: 0;
    vertical-align: top;
}

#orderEmail1 {
    width: 180px;
    margin: 0 4px 0 0;
}

#orderEmail2 {
	width: 180px;
    margin: 0 4px;
}

#orderEmail3 {
	margin-top:5px;
}

.orderBlank {
	display: block;
    margin-top: 5px;
    color: #707070;
    font-size: 12px;
    text-align: left;
}

.orderArea .title .required {
    margin: -26px 0 0;
    color: #353535;
    text-align: right;
}

caption {
	display: none;
}

input[type=radio], input[type=checkbox] {
    width: 13px;
    height: 13px;
    border: 0;
}

input[type=radio] + label, input[type=checkbox] + label {
    margin: 0 4px 0 2px;
    font-size: 14px;
}

#sample6_address {
	width: 450px;
    margin: 5px 5px 0 0;
}

.grid {
	color: #707070;
    font-size: 12px;
    text-align: left;
}

#sample6_detailAddress {
	width: 450px;
    margin: 5px 5px 0 0;
}

#delPhone2 {
	width: 60px;
    margin: 0 4px;
}

#delPhone3 {
	width: 60px;
    margin: 0 4px;
}

.addMessage {
	color: #707070;
    font-size: 12px;
    text-align: left;
}

.totalTable table {
	z-index: 2;
    border-color: #777;
    border-top: 1px solid #E6E6EA;
}

.totalTable table th {
	height: 39px;
    background: #fbfafa;
    padding: 11px 0 10px;
    border-left: none;
    border-bottom: 1px solid #d7d5d5;
    color: #353535;
    vertical-align: middle;
    font-weight: normal;
    text-align: center;
}

.center {
    text-align: center;
    height: 58px;
}

.boxText {
	font-size: 23px;
    letter-spacing: -1px;
    margin: 10px auto;
}

.gMerge {
	position: relative;
    z-index: 1;
    margin-top: -1px;
}

.gMerge table {
	margin: -1px 0 0;
}

.detail tbody th {
    padding: 11px 0 10px 18px;
    border: 1px solid #eee;
    border-bottom-width: 0;
    color: #353535;
    text-align: left;
    font-weight: normal;
    border-left: 0;
}

.text20 {
	font-size: 14px;
}

.detail td {
    padding: 11px 10px 10px;
    border-top: 1px solid #eee;
    color: #353535;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
}

.btnSubmit {
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 8px;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: #113F8A;
}

.baseHelp {
	font-size: 14px;
	margin: 20px 0;
    border: 1px solid #d6d4d4;
    line-height: 18px;
}

.baseHelp h3 {
	padding: 9px 0 6px 10px;
    border: 1px solid #e8e7e7;
    color: #101010;
    font-size: 12px;
    background: transparent;
}

.baseHelp ul li {
	padding: 0 0 0 11px
}

.baseHelp ul {
	margin: 15px 0 0 11px;
}

.inner {
	padding: 0 9px 12px
}

.baseHelp h4 {
	margin: 22px 0 -4px;
    color: #404040;
    font-size: 12px;
    font-weight: normal;
    font-weight: bold;
}

.baseHelp ol {
	margin: 15px 0 0 11px;
}

.baseHepl ol li {
	padding: 0 0 0 25px
}

.info {
	font-size : 14px;
}

.paymentSubmit {
	display: inline-block;
    box-sizing: border-box;
    padding: 2px 8px;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: #113F8A;
    width: 200px;
    height: 50px;
    padding-top: 16px;
    cursor: pointer;
}

.cancel {
	display: inline-block;
    box-sizing: border-box;
    padding: 2px 8px;
    border: 1px lightgray solid;
    border-radius: 2px;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: black;
    background-color: white;
    width: 200px;
    height: 50px;
    padding-top: 16px
}