@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

/* 상품상세 메인 이미지 */

.carousel2 {
    width: 700px;
}
.section img {
    width: 700px; height: 800px;
}
.section .best {
    background-color: orange;
    width: 40px;
    color: white;
    font-size: 12px;
    padding: 5px;
}