@charset "EUC-KR";

/*signup css 시작*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

        * { font-family: 'Noto Sans KR', sans-serif;}
          .signup {
            margin: auto;
            width: 500px;
            background-color: #EEEFF1;
            border-radius: 5px;
            text-align: center;
            margin: 200px auto;}

          input {
            width: 80%;
            padding: 10px;
            margin: 10px 0;
            box-sizing: border-box;
            border-radius: 5px;
            border: none;}

          #btn {
            background-color: #717473;
            font-size: 15px;
            width: 30%;
            margin-bottom: 30px;
            color: white;}
            
             #btn2 {
            background-color: #717473;
            font-size: 15px;
            width: 30%;
            margin-bottom: 30px;
            color: white;}
            
          .in { margin-bottom: 10px;}
          
          .mail {
          	margin-bottom: 10px;
          	width: 163px;}
          	
          .maildomain {
          	margin-bottom: 10px;
          	width: 100px;
          }
          
          .call {
          	margin-bottom: 10px;
          	width: 123px
          }
          
          .resident {
          	margin-bottom: 10px;
          	width: 193px
          }
          
         
/*signup css 끝*/